<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>O número aleatório é:  <%=num%> </h1>
    
    <%if(num % 2 === 0){%>
        <h2>Este número é par</h2>
    <%}else{%>
        <h2>Esté número é impar</h2>
    <%}%>
    
</body>
</html>