<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REQUISIÇÕES GET E POST</h1>
    <h2>GET</h2>
    
    <form action="pedidos" method="GET">
        <input type="text" name="pedido">
        <input type="number" name="qtd">
        <button>Enviar</button>
    </form>
    <br>
    <h2>POST</h2>
    <form action="pedidos" method="POST">
        <input type="text" name="pedido">
        <input type="number" name="qtd">
        <button>Enviar</button>
    </form>
</body>
</html>