<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Triângulo</h1>

    <form action="resposta/:figuraGeometrica" method="get">
        <p>Lado A: 
            <input type="number" id="ladoA" name="ladoA">
        </p>
        <p>Lado B: 
            <input type="number" id="ladoB" name="ladoB">
        </p>
        <p>Lado C: 
            <input type="number" id="ladoC" name="ladoC">
        </p>


        <br>

        <h1>Retângulo</h1>
        <p>Altura: 
            <input type="number" id="altura" name="altura">
        </p>
        <p>Base  : 
            <input type="number" id="base" name="base">
        </p>
        <button>Enviar</button>
    </form> 


</body>
</html>